<div>
  <div *ngFor="let filter of value.filters" style="margin-bottom: 20px;">

    <div class="clr-select-wrapper" style="margin-right: 5px">
      <select class="clr-select" [(ngModel)]="filter.type" (change)="input.focus(); autoRefresh ? updateFilter() : false">
        <option *ngFor="let t of types" [value]="t">{{t}}</option>
      </select>
    </div>
    <input #input type="number" [autofocus]="true" [(ngModel)]="filter.value" name="value" (change)="autoRefresh ? updateFilter() : false">

    <app-remove-button *ngIf="value.filters.length > 1" style="vertical-align: bottom; margin-left: 5px;"
                       (click)="onRemoveButtonClick(filter.id); autoRefresh ? updateFilter() : false"></app-remove-button>
  </div>


  <div *ngIf="value.filters.length > 1" class="clr-control-container clr-control-inline" style="float:left;">
    <div class="clr-radio-wrapper">
      <input type="radio" id="comparisonTypeAnd" name="comparisonType"
             [(ngModel)]="value.comparisonType" [value]="comparisonTypes.AND" class="clr-radio"
             (change)="autoRefresh ? updateFilter() : false">
      <label for="comparisonTypeAnd" class="clr-control-label">{{comparisonTypes[comparisonTypes.AND]}}</label>
    </div>
    <div class="clr-radio-wrapper">
      <input type="radio" id="comparisonTypeOr" name="comparisonType"
             [(ngModel)]="value.comparisonType" [value]="comparisonTypes.OR" class="clr-radio"
             (change)="autoRefresh ? updateFilter() : false">
      <label for="comparisonTypeOr" class="clr-control-label">{{comparisonTypes[comparisonTypes.OR]}}</label>
    </div>
  </div>

  <app-plus-button (click)="onAddButtonClick()"></app-plus-button>
</div>

<div style="width: 100%; float:left;">
  <button class="btn btn-primary" *ngIf="!autoRefresh" (click)="updateFilter()">Apply</button>
  <button class="btn btn-primary-outline" (click)="clear()">Clear</button>
</div>