<div class="form-group">

  <div class="checkbox" style="margin-bottom: 10px">
    <input type="checkbox" id="filterActive" name="filterActive" [(ngModel)]="filterActive" (change)="updateFilter()">
    <label for="filterActive">Enable filter</label>
  </div>

  <div *ngFor="let filter of value.filters" style="margin-bottom: 20px;">

    <div class="clr-select-wrapper">
      <select class="clr-select" [(ngModel)]="filter.value" (change)="updateFilter()">
        <option *ngFor="let v of values" [value]="v.trim()">{{v}}</option>
      </select>
    </div>

    <app-remove-button *ngIf="value.filters.length > 1" style="vertical-align: bottom; margin-left: 5px;"
                       (click)="onRemoveButtonClick(filter.id); updateFilter()"></app-remove-button>

  </div>

</div>

<app-plus-button (click)="onAddButtonClick(); updateFilter()"></app-plus-button>